* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

html {
    background: url(../imagens/fundo-madeira.jpg) top center / cover no-repeat;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;


    background: url('../imagens/frame-iphone.png') no-repeat;

}


/** CIP/SRA **/